*, *::before, *::after {
	margin: 0;
	padding: 0;
}

/*vars*/
:root {
	--main-text-color: hsla(90, 150%, 113%, .4);
	--bg-color-main: wheat;
}

body {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
	background-color: pink;
	transition: background-color .2s ease-in-out;
}

main {
	flex: 1 0 auto;
}

.body_blood {
	background-color: darkred;
}

.block-header {
	display: flex;
	padding: 12px 18px;
	background-color: var(--bg-color-main);
}


.block-header__ui-list {
	display: flex;
	flex: 1 0 auto;
	align-items: center;
}

.block-header-ui-list {
	list-style: none;
	background-color: #442203;
}

.block-header-ui-list__item {

}

.block-header-ui-list__btn {
	font-size: 60px;
	cursor: pointer;
}

.rabbit-body {
	background-color: hsla(15, 20%, 20%, .5	);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.animal-body__head {
	font-size: 120px;
	text-shadow: 3px 2px 20px gray;
}

.rabbit-body__belly {
	width: 100px;
	height: 100px;
	background-color: coral;
	border-radius: 50%;
	/*border: 5px solid #333;*/

	transition: width .4s ease-in-out;
}

.block-footer {
	flex: 0 0 auto;
}

.block-footer__paragraph {
	text-align: center;
}